main{
    width:100%;

    .portrait {
        width:100%;

        .moi {
            width:100%;

            .maphoto {
                width:100%;
                border-radius: 225px 225px 0px 0px;
            }
        }

        .cta-cv {
            margin-top: 15px;
            display:flex;
            justify-content:center;
        }
    }

    .outils{
        width:100%;
        margin-top: 20px;

        .app-icons {
            width:100%;
            display:flex;
            flex-wrap: wrap;

            .icone{
                max-width: 60px;
                max-height: 60px;
                padding:5px;
            }
        }
    }
}






