main{
    display:flex;
}

section{
    flex-wrap: wrap;
    display: flex;
    margin: 5%;
}
 
.portrait{
    flex-wrap: wrap;
    max-width: 60%;
}

.maphoto {
    max-width: calc(60%/2);
    max-height: 1300px;
    border-radius: 225px 225px 0px 0px;
}

.outils{
    background-color: blueviolet;
    display: flex;
    max-width: 30%;
    padding: 45px;
}

.icone{
    max-width: 60px;
    max-height: 60px;
    flex-wrap: nowrap;
}


