main {
    width: 100%;

    h1 {
        margin-bottom: 20px;
    }

    article {
        width:100%;
        background: var(--secondary);
        border-radius: 20px;
        padding:20px;
        margin-bottom: 20px;

        a {
            width:100%;
            height: 100%;
            display:flex;
            align-items: center;
            text-decoration:none;

            img {
                width: 50px;
                margin-right:20px;
            }

            p {
                color: var(--contrast);
            }
        }
    }
}