main {

    section {

        h1 {
            margin-bottom:20px;
        }
        h2 {
            margin-bottom:10px;
        }

        img {
            margin-bottom: 10px;
        }
        img.bordered {
            border:1px solid var(--secondary);
        }
        img.rounded-corner{
            border-radius: 20px;
        }

        .redaction-website-showcase {
            img {
                margin:0;
            }
        }
    }

    .box{
        margin-bottom: 30px;
    }
}