main {
    width: 100%;

    .box-arrow{
        width:100%;

        p{
            font-size:24px;
        }

        .arrow{
            position:relative;
            width:80%;
            background: var(--primary);
            height:1px;

            span{
                position:absolute;
                width:9px;
                height:1px;
                background: var(--primary);
                right:0;
            }
            span:first-of-type{
                transform: rotate(45deg) translateY(-4px);
            }
            span:last-of-type{
                transform: rotate(-45deg) translateY(4px);
            }
        }
    }                 /* Centrage optionnel */

    section.all-projects {
        width:100%;
        margin-top: 50px;
        display:flex;
        flex-direction:column;

        article.single-projet{
            width:100%;
            height:300px;
            margin-bottom:40px;
            background: var(--primary);
            border-radius: 250px 250px 0 0;

            a{
                width:100%;
                height:100%;
                display:flex;
                justify-content: center;
                align-items: center;
                padding-top:50px;
            }
        }
    }
}