/* Ordre des priorités des layers */
@layer reset, base, page, overrides;

/* Réinitialisation */
@import url(reset.css) layer(reset);

/* Atomes */
@import url(type.css) layer(base); /* Typographie */
@import url(colors.css) layer(base); /* Couleurs */

/* Molécules */
@import url(nav.css) layer(base); /* Navigation */
@import url(form.css) layer(base); /* Formulaire */

/* Basic Layout */
@layer base {
    body {
        max-width: 1768px;
        min-height: 100cqh;
        margin-inline: auto;
        padding: clamp(16px, 5vw, 6rem);
    }
}