/* Définit la typo Forum par défaut */
body {
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--secondary);
}

/* Définit quels éléments utilisent 'The Seasons' */
h1, h2, h3, h4, h5, h6,
label, a, button.cta {
  font-family: "the-seasons", serif;
  font-weight: 700;
  font-style: normal;
  color: var(--primary);
}

/* Règles par niveau de titrage.
/* Chaque règle s'appliquera à un élément,
/* ainsi qu'à une class du même nom. */
h1, .h1 {
  font-size: 3.5rem; /* 56px */
  line-height: 1.2;
}
h2, .h2 {
  font-size: 2.25rem; /* 36px */
}
h3, .h3 {
  font-size: 1.5rem; /* 24px */
}
@media screen and (width > 540px) {
  .xl {
    font-size: 5rem; /* 96px */
    line-height: 1;

    i {
      font-size: 4rem;
    }
  }


/* Calls to action */
a.cta, button.cta {
    display: inline-block;
    text-decoration: none;

    font-size: 1.5rem; /* 24px */
    border-radius: 2em;
    padding-block: 0.5em;
    padding-inline: 1.5em;

    color: var(--contrast);
    background-color: var(--secondary);

    &:hover {
        background-color: var(--primary);
    }
}

/* Cesure */

.cesure {
  display: inline-block;
}